<div class="container">
  <h1 class="display-3">Articles</h1>
  
  <p>Our blog has <%= Article.public_count %> articles and counting!</p>
  <p>Only an authenticated user may create or edit content on this site.</p>
  </br>
  <div class="card" style="width: 18rem;">
    <ul class="list-group list-group-flush">
      <% @articles.each do |article| %>
        <% unless article.archived? %>
          <li class="list-group-item">
              <%= link_to article.title, article %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
  </br></br>

  <%= link_to "Create a New Article", new_article_path, class:"btn btn-primary" %>
</div>